.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .modal {
    max-width: 400px;
    padding: 40px;
    background: linear-gradient(to bottom, #fff, #f0f0f0);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  

  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  button {
      margin-top:10px;
      padding :14px;
      background :linear-gradient(to right,#1da1f2,#0096f6);
      color :#fff;
      border :none;
      border-radius :30px;
      font-size :16px;
      font-weight :700;
      cursor :pointer;
  }
  
  button:hover {
      transform :scale(1.05);
  }
  
  .signup-link {
      margin-top :20px;
      font-size :14px;
  }
  
  .signup-link a {
      color :#1da1f2;
      text-decoration :none;
  }
  
  .signup-link a:hover {
      color :#0096f6;
  }
  
  .error-message {
      margin-top :0px;
  }
  
  * {
      font-family :"Poppins", sans-serif;
  }
