.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}
.modal-containerac {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  max-width: 400px;
  padding: 40px;
  background: var(--twitter-sec-background);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input-group {
  position: relative;
}

.input-field {
  padding: 12px;
  padding-inline: 20px;
  padding-bottom: 0;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  border-radius: 28px;
}

.floating-label {
  padding-top: 6px;
  position: absolute;
  top: 10px;
  left: 20px;
  color: #999;
  pointer-events: none;
  transition: all 0.3s;
}

.input-field:focus + .floating-label,
.input-field:not(:placeholder-shown) + .floating-label {
  top: -2px;
  left: 20px;
  font-size: 12px;
  color: #007bff;
}

button {
  margin-top: 10px;
  margin-inline: 10px;
  padding: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: linear-gradient(to right, #1da1f2, #0096f6);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 2rem;
}

button:hover {
  transform: scale(1.05);
}

.up-link {
  margin-top: 20px;
  font-size: 14px;
}

.up-link a {
  color: #1da1f2;
  text-decoration: none;
}

.up-link a:hover {
  color: #0096f6;
}

* {
  font-family: "Poppins", sans-serif;
}

.below {
  top: 800px;
  background: transparent;
}
.logo {
  justify-content: center;
  display: flex;
  margin-bottom: 1.8rem;
}
.logo > * {
  font-size: 3rem !important;
}

.inputs {
  display: flex;
  flex-direction: column;
}
.h2up {
  margin-bottom: 4rem;
  font-size: 20px;
  font-weight: 500;
}
.input_err {
  position: relative;
  margin-inline: 1.3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.error-message {
  position: absolute !important;
  top: 0;
  color: #f5738b;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
  transform: scale(0);
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}
