.date_container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 2rem;
}

.datetext {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 2rem;
}

.date_input {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .date_container {
    position: static;
    padding: 1rem;
    text-align: center;
  }

  .datetext {
    margin-right: 0;
    display: block;
  }

  .date_input {
    margin-top: 1rem;
  }
}
