.feed-con{
    flex: auto;
    
}
.feed{

    border-right: 1px solid var(--twitter-background);
    min-width: 600px;
    max-width: 600px;
    flex-grow: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width:none;
}

.feed::-webkit-scrollbar{
    display: none;
}
.feed__header{
    border: 1px solid var(--twitter-background);
}
.feed__header > h2 {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    
    padding: 15px 20px;
}
.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}
.feed__select {
    display: flex;
}

.feed__select > *{
    width: 50%;
}
.feed__selectbox {
    position: relative;
    width: 100%;
    color: rgb(83, 100, 113);
    font-weight: 500;
    height: 50px;

  }
.feed__selectbox:hover {
    background-color: #e8f5fe;
}
.feed__selectbox--active{
    font-weight: 700;
    color:black;
}
.feed__selectbox-bar {
    width: 50px;
    height: 2px;
    background-color: var(--twitter-color);
    margin-top: 5px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px){

    .feed{
        min-width: fit-content;
    }
}
