.tweetBox {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > textarea {
  flex: 1;
  margin-left: 20px;
  height: auto;
  font-size: 20px;
  border: none;
  color: inherit;
  background-color: transparent;
}
.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px !important;
  width: 80px;
  margin-top: 20px !important;
  margin-left: auto !important;
}
.tweetBox__tweetButton:hover {
  background-color: #1a8cd8 !important;
}
.tweetBox__ImageInput {
  border: none;
  margin-left: 2px;
  padding: 10px;
  width: 50%;
  background-color: transparent;
}
.input-file {
  display: none;
}

.file-label {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 500;
  text-transform: inherit;
  border-radius: 30px;
  text-align: center;
  height: 40px;
  width: 80px;
  margin-top: 20px;
}
.file-label:hover {
  background-color: #1a8cd8;
}

.sameLine {
  display: flex;
  padding: 2px 5px;
}
